In [1]:
#!jupyter nbextension enable --py gmaps

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json as json
import time as time

# Import API key
from api_keys import g_key

Please note: 
a) This code was developed and run in Jupyter Notebook IDE. 
b) It was tested on Google Chrome browser.

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store csv created in part one into a DataFrame
# Output File (CSV) from WeatherPy Part I
output_data_file = "../output_data/cities.csv"
clean_city_weather_df = pd.read_csv(output_data_file)

## Create a new column called 'City_ID' with the same value as the row's index value
clean_city_weather_df['City_ID'] = clean_city_weather_df.index

## Move the City_ID column to the front: 
cols = list(clean_city_weather_df.columns)
cols = [cols[-1]] + cols[:-1]
clean_city_weather_df = clean_city_weather_df[cols]

clean_city_weather_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,baghdad,33.3406,44.4009,68.00,21,0,9.22,IQ,1617037129
1,1,cabo san lucas,22.8909,-109.9124,78.01,25,40,7.61,MX,1617037130
2,2,shangzhi,45.2167,127.9667,40.15,82,100,13.65,CN,1617037131
3,3,gimbi,9.1667,35.8333,69.64,40,99,4.92,ET,1617037134
4,4,arraial do cabo,-22.9661,-42.0278,95.00,62,20,13.80,BR,1617037135

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
# Access maps with unique API key, and set quota to gmap API access to avoid charges over $200 credit/month
gmaps.configure(api_key=g_key)

In [4]:
## Create a location df to store the Lat and Lng data
marker_loc_lat_lng_df = clean_city_weather_df[['Lat', 'Lng']]
humidity_ser = clean_city_weather_df['Humidity']

humidity_list = humidity_ser.tolist()

In [5]:
# Heatmap of humidity

## plot heatmap using Lat/Lng as locations, and Humidity as the weight
# Customize the size of the figure
figure_layout = {
    'width': '700px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

## create a map figure
fig = gmaps.figure(layout=figure_layout)

max_intensity_val = float(np.max(humidity_list))
print(f"max_intensity = {max_intensity_val}")

## Create a layer with city location as marker location, and humidity as heat index
heat_map_layer = gmaps.heatmap_layer(marker_loc_lat_lng_df, weights = humidity_ser, dissipating=False, max_intensity=max_intensity_val, point_radius=3)

fig.add_layer(heat_map_layer)

## display the fig
fig

max_intensity = 100.0

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

Narrow down cities that fit criteria and drop any results with null values
Narrow down the DataFrame to find your ideal weather condition. For example:
  a) A max temperature lower than 80 degrees but higher than 70; 
  b) Wind speed less than 10 mph; 
  c) Zero cloudiness.

Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

In [6]:
# Narrow down cities that fit criteria and drop any results with null values
favorite_city_df = clean_city_weather_df.loc[(clean_city_weather_df["Max Temp"] > 70) &
                                             (clean_city_weather_df["Max Temp"] <= 80) &
                                             (clean_city_weather_df["Wind Speed"] <= 10) &
                                             (clean_city_weather_df["Cloudiness"] == 0) &
                                            (clean_city_weather_df["Humidity"] < 70)]

## Call dropna to remove rows with an empty field
favorite_city_df.dropna(how='any')

# favorite_city_df.info()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
106,106,cape town,-33.9258,18.4232,77.00,44,0,6.91,ZA,1617037283
157,157,yulara,-25.2406,130.9889,71.60,35,0,8.05,AU,1617037355
303,303,dalkola,25.8500,87.8500,78.01,36,0,7.56,IN,1617037557
333,333,luneville,48.6000,6.5000,75.20,35,0,5.75,FR,1617037603
386,386,pisco,-13.7000,-76.2167,71.60,68,0,9.22,PE,1617037483
392,392,coihueco,-36.6167,-71.8333,73.40,46,0,5.75,CL,1617037686
443,443,saint-francois,46.4154,3.9054,71.60,30,0,9.22,FR,1617037758
457,457,sharjah,25.3573,55.4033,78.01,61,0,6.91,AE,1617037582
563,563,riyadh,24.6877,46.7219,73.40,11,0,9.22,SA,1617037938
566,566,calvinia,-31.4707,19.7760,78.94,20,0,9.33,ZA,1617037942

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
## base url for google search
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = favorite_city_df.loc[:, ["City", "Country", "Lat", "Lng"]]

## Add Hotel Name to hotel_df, and default to empty string
hotel_df["Hotel Name"]=""
hotel_df

               City Country      Lat       Lng Hotel Name
106       cape town      ZA -33.9258   18.4232
157          yulara      AU -25.2406  130.9889
303         dalkola      IN  25.8500   87.8500
333       luneville      FR  48.6000    6.5000
386           pisco      PE -13.7000  -76.2167
392        coihueco      CL -36.6167  -71.8333
443  saint-francois      FR  46.4154    3.9054
457         sharjah      AE  25.3573   55.4033
563          riyadh      SA  24.6877   46.7219
566        calvinia      ZA -31.4707   19.7760

In [12]:
# Set parameters to search for a hotel
## Ref: https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests
## Debug URl: find a hotel for city podor:  
## https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=16.6527,-14.9587&radius=5000&keyword=hotel&key=AIzaSyAe6bDH6zh2QgyOQHZccgwjA1ucAvijuy8

params = {
    "keyword": "hotel",
    "radius": 5000,
    "key": g_key 
}

# Iterate through hotel_df, compose the query url, fetch the result, and populate the hotel_df["Hotel Name"]
for index, row in hotel_df.iterrows():
    
    # get lat, lng, and the city_name from df
    lat = row['Lat']
    lng = row['Lng']
    city_name = row["City"]
    
    # Use the search term "hotel" and lat/lng
    ## add Lat/Lng to the query parameter
    params["location"] = f"{lat},{lng}"  

    # make request and print url
    print(f"Fetching the results for City ({index}): {city_name}...")
    
    response_json = requests.get(base_url, params=params).json() 
    ## print(json.dumps(response_json, indent=4))

    # Grab the first hotel from the results and store the name
    ## First, extract results
    results = response_json['results']

    ## Try to retrieve the 1st hotel name, and save it to the hotel_df
    try:
        ## get the hotel name
        first_hotel = results[0]['name']
        print(f"First hotel in the {city_name} is {first_hotel}.")
        
        ## Add the first_hotel to the hotel_df at row_num = index value in the for-loop
        hotel_df.loc[index, "Hotel Name"] = first_hotel
        
    except(KeyError, IndexError):
        ## if no hotels were found, print out a message with missing field
        print("Missing field/result... skipping.")

    print("--------------------------------------------------------")
    
    ## Wait 1 second before making another API call
    time.sleep(1)

Fetching the results for City (106): cape town...
First hotel in the cape town is Atlanticview Cape Town Boutique Hotel.
--------------------------------------------------------
Fetching the results for City (157): yulara...
First hotel in the yulara is Longitude 131.
--------------------------------------------------------
Fetching the results for City (303): dalkola...
First hotel in the dalkola is Hotel Oasis Palace.
--------------------------------------------------------
Fetching the results for City (333): luneville...
First hotel in the luneville is Logis Hôtel les Pages Rest. le Petit Comptoir.
--------------------------------------------------------
Fetching the results for City (386): pisco...
First hotel in the pisco is Hostal Tambo Colorado.
--------------------------------------------------------
Fetching the results for City (392): coihueco...
Missing field/result... skipping.
--------------------------------------------------------
Fetching the results for City (443): saint-francois...
Missing field/result... skipping.
--------------------------------------------------------
Fetching the results for City (457): sharjah...
First hotel in the sharjah is Four Points by Sheraton Sharjah.
--------------------------------------------------------
Fetching the results for City (563): riyadh...
First hotel in the riyadh is Centro Olaya.
--------------------------------------------------------
Fetching the results for City (566): calvinia...
First hotel in the calvinia is Die Lemoenhuis.
--------------------------------------------------------

In [13]:
## print the hotel_df
hotel_df

,City,Country,Lat,Lng,Hotel Name
106,cape town,ZA,-33.9258,18.4232,Atlanticview Cape Town Boutique Hotel
157,yulara,AU,-25.2406,130.9889,Longitude 131
303,dalkola,IN,25.8500,87.8500,Hotel Oasis Palace
333,luneville,FR,48.6000,6.5000,Logis Hôtel les Pages Rest. le Petit Comptoir
386,pisco,PE,-13.7000,-76.2167,Hostal Tambo Colorado
392,coihueco,CL,-36.6167,-71.8333,
443,saint-francois,FR,46.4154,3.9054,
457,sharjah,AE,25.3573,55.4033,Four Points by Sheraton Sharjah
563,riyadh,SA,24.6877,46.7219,Centro Olaya
566,calvinia,ZA,-31.4707,19.7760,Die Lemoenhuis

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…